.content {
  display: grid;
  gap: 24px;

  text-align: right;
  padding: 0 30px;

  // &__text {}

  &__english {
    font-size: 2rem;
    color: $red;

    &--mission {
      font-size: 1.5rem;
    }
  }

  // &__portuguese {}
}