.content {
  display: grid;
  gap: 24px;

  text-align: right;
  padding: 0 30px;

  @include breakpoint(laptop) {
    gap: 16px
  }

  // &__text {}

  &__english {
    @include font($font-family, 2rem, $red, bold);

    @include breakpoint(laptop) {
      font-size: 3rem;
    }

    @include breakpoint(laptop-large) {
      font-size: 4rem;
    }

    &--mission {
      font-size: 1.5rem;

      @include breakpoint(laptop) {
        font-size: 2rem;
      }

      @include breakpoint(laptop-large) {
        font-size: 2.25rem;
      }
    }
  }

  &__portuguese {
    @include breakpoint(laptop) {
      font-size: 1.5rem;
    }
  }
}