.counter {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-areas:
  'text time'
  'text seconds'
  ;
  column-gap: 8px;

  padding-left: 16px;

  @include breakpoint(laptop) {
    justify-self: flex-start;
    margin-left: 25%;
    padding: 0;
  }

  &__text {
    grid-area: text;
    font-size: 0.75rem;
    text-align: right;
    align-self: center;

    @include breakpoint(laptop-large) {
      font-size: 0.875rem;
    }
  }

  &__time {
    grid-area: time;
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;

    @include breakpoint(laptop-large) {
      font-size: 3rem;
    }
  }

  &__seconds {
    grid-area: seconds;
    font-size: 0.75rem;
    text-align: center;

    @include breakpoint(laptop-large) {
      font-size: 0.875rem;
    }
  }
}