.forecast {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'location location'
    'icon temperature'
  ;
  align-items: center;

  &__location {
    grid-area: location;
    justify-self: end;

    font-size: 0.75rem;
  }

  &__icon {
    grid-area: icon;
    justify-self: end;

    height: 32px;
  }

  &__temperature {
    grid-area: temperature;
    font-size: 1.5rem;
    font-weight: bold;
  }
}