* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Mark Pro", sans-serif;
  font-size: 1rem;
  color: #222222;
  font-weight: 400;
}

#login {
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  height: 100vh;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E0E0E0;
}
@media screen and (min-width: 1024px) {
  #login {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    padding: 0;
  }
}
#login__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  #login__left {
    justify-content: space-around;
    grid-area: left;
    max-width: 380px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  #login__right {
    grid-area: right;
    padding-top: 32px;
    height: 100%;
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#home {
  background-image: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 16px;
}

.logo {
  grid-area: logo;
}
@media screen and (min-width: 1024px) {
  .logo {
    display: flex;
    justify-content: center;
  }
}

.presentation {
  grid-area: presentation;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .presentation {
    text-align: left;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .presentation {
    margin-bottom: 80px;
  }
}
.presentation__title {
  font-size: 3.75rem;
  margin-bottom: 24px;
}
.presentation__text {
  font-size: 1rem;
}

.form {
  grid-area: form;
  width: 100%;
  position: relative;
}
.form__title {
  font-size: 2rem;
}
.form__field {
  width: 100%;
  position: relative;
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.form__input {
  font-family: "Mark Pro", sans-serif;
  font-size: 1rem;
  color: #E0E0E0;
  width: calc(100% - 60px);
  padding: 20px;
  background-color: #26292C;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  transition: width 0.3s;
}
.form__input:focus {
  width: 100%;
  padding-right: 50px;
  outline: none;
}
.form__input--filled {
  width: 100%;
  padding-right: 50px;
}
.form__input--error {
  border-color: #E9B425;
}
.form__icon {
  position: absolute;
  right: 20px;
}
.form__button {
  font-family: "Mark Pro", sans-serif;
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: bold;
  width: 100%;
  padding: 16px;
  margin-top: 64px;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  border: none;
  border-radius: 50px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .form__button {
    margin-top: 72px;
  }
}
@media screen and (min-width: 1440px) {
  .form__button {
    margin-top: 96px;
  }
}
.form__button:hover {
  background: linear-gradient(90deg, #E62A05 0%, #85220F 100%);
}
.form__error {
  color: #E9B425;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  .form__error {
    margin-top: 28px;
  }
}
.form__error--hidden {
  display: none;
}

.forecast {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "location location" "icon temperature";
  align-items: center;
}
.forecast__location {
  grid-area: location;
  justify-self: end;
  font-size: 0.75rem;
}
.forecast__icon {
  grid-area: icon;
  justify-self: end;
  height: 32px;
}
.forecast__temperature {
  grid-area: temperature;
  font-size: 1.5rem;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */