@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Mark Pro", sans-serif;
  font-size: 1rem;
  color: #222222;
  font-weight: 400;
}

#login {
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  height: 100vh;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E0E0E0;
}
@media screen and (min-width: 1024px) {
  #login {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    padding: 0;
  }
}
#login__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  #login__left {
    justify-content: space-around;
    grid-area: left;
    max-width: 380px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  #login__right {
    grid-area: right;
    padding-top: 32px;
    height: 100%;
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#home {
  background-image: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 16px;
}
@media screen and (max-width: 280px) {
  .header__logo {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    position: absolute;
    width: 100vw;
  }
}

.main {
  flex: 1;
  background-image: url(../img/bg-compasso-mobile.png);
  background-repeat: no-repeat;
  background-position-x: -50%;
  background-position-y: 115%;
}
@media screen and (min-width: 1024px) {
  .main {
    background-image: url(../img/bg-compasso-desktop.png);
    background-size: contain;
    background-position-x: -420px;
    background-position-y: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    background-position-x: -320px;
  }
}

.footer {
  position: relative;
  height: 80px;
  color: #FFFFFF;
  background-image: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .footer {
    height: 100px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
  }
}
.footer__icon {
  position: absolute;
  top: -40px;
  right: 16px;
  color: #222222;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .footer__icon {
    display: none;
  }
}
.footer__icon::before {
  content: "";
  opacity: 0;
  transition: opacity 0.3s;
}
.footer__icon:hover::before {
  opacity: 1;
  content: "Essa janela do navegador é usada para manter sua sessão de autenticação ativa. Deixe-a aberta em segundo plano e abra uma nova janela para continuar a navegar.";
  display: inline-block;
  position: absolute;
  bottom: 8px;
  left: -330px;
  font-family: "Mark Pro", sans-serif;
  font-size: 0.75rem;
  color: #FFFFFF;
  text-align: justify;
  white-space: break-spaces;
  background-image: linear-gradient(90.16deg, rgba(51, 56, 61, 0.8) 0%, rgba(28, 29, 32, 0.8) 100%);
  max-width: 300px;
  padding: 8px 12px;
  border-radius: 8px;
}
@media screen and (max-width: 280px) {
  .footer__icon:hover::before {
    max-width: 200px;
    left: -224px;
  }
}
.footer__info {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer__info {
    display: block;
    max-width: 600px;
    justify-self: end;
    font-size: 0.75rem;
    text-align: right;
    border-right: 1px solid #FFFFFF;
    padding: 16px 32px;
  }
}
.footer__buttonGroup {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .footer__buttonGroup {
    justify-self: end;
  }
}
.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  text-align: center;
  width: 90px;
  height: 100%;
  transition: font-size 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 280px) {
  .footer__button {
    font-size: 0.625rem;
    width: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__button {
    width: 130px;
  }
}
.footer__button:hover {
  font-size: 0.8125rem;
  font-weight: bold;
}
.footer__button--continue {
  color: #C13216;
  text-decoration: none;
  background-color: #FFFFFF;
}
.footer__button--logout {
  font-family: "Mark Pro", sans-serif;
  font-size: 0.75rem;
  color: #FFFFFF;
  border: none;
  background-color: transparent;
}

.logo {
  grid-area: logo;
}
@media screen and (min-width: 1024px) {
  .logo {
    display: flex;
    justify-content: center;
  }
}

.presentation {
  grid-area: presentation;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .presentation {
    text-align: left;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .presentation {
    margin-bottom: 80px;
  }
}
.presentation__title {
  font-size: 3.75rem;
  margin-bottom: 24px;
}
@media screen and (max-width: 280px) {
  .presentation__title {
    font-size: 2.5rem;
  }
}
.presentation__text {
  font-size: 1rem;
}

.form {
  grid-area: form;
  width: 100%;
  position: relative;
}
.form__title {
  font-size: 2rem;
}
.form__field {
  width: 100%;
  position: relative;
  margin-top: 32px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 280px) {
  .form__field {
    margin-top: 16px;
  }
}
.form__input {
  font-family: "Mark Pro", sans-serif;
  font-size: 1rem;
  color: #E0E0E0;
  width: calc(100% - 60px);
  padding: 20px;
  background-color: #26292C;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  transition: width 0.3s;
}
@media screen and (max-width: 280px) {
  .form__input {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.form__input:focus {
  width: 100%;
  padding-right: 50px;
  outline: none;
}
.form__input--filled {
  width: 100%;
  padding-right: 50px;
}
.form__input--error {
  border-color: #E9B425;
}
.form__icon {
  position: absolute;
  right: 20px;
}
.form__button {
  font-family: "Mark Pro", sans-serif;
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: bold;
  width: 100%;
  padding: 16px;
  margin-top: 64px;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  border: none;
  border-radius: 50px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .form__button {
    margin-top: 72px;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .form__button {
    margin-top: 96px;
  }
}
.form__button:hover {
  background: linear-gradient(90deg, #E62A05 0%, #85220F 100%);
}
.form__error {
  color: #E9B425;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  .form__error {
    margin-top: 28px;
  }
}
.form__error--hidden {
  display: none;
}

.forecast {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "location location" "icon temperature";
  align-items: center;
}
.forecast__location {
  grid-area: location;
  justify-self: end;
  font-size: 0.75rem;
}
@media screen and (max-width: 280px) {
  .forecast__location {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 1024px) {
  .forecast__location {
    font-size: 0.875rem;
  }
}
.forecast__icon {
  grid-area: icon;
  justify-self: end;
  height: 32px;
}
@media screen and (max-width: 280px) {
  .forecast__icon {
    height: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .forecast__icon {
    height: 48px;
  }
}
.forecast__temperature {
  grid-area: temperature;
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 280px) {
  .forecast__temperature {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .forecast__temperature {
    font-size: 3rem;
  }
}

.clock {
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .clock {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.clock__hour {
  font-size: 4.5rem;
  font-weight: bold;
}
@media screen and (max-width: 280px) {
  .clock__hour {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .clock__hour {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .clock__hour {
    font-size: 8rem;
  }
}
.clock__day {
  font-size: 0.875rem;
}

.content {
  display: grid;
  gap: 24px;
  text-align: right;
  padding: 0 30px;
}
@media screen and (min-width: 1024px) {
  .content {
    gap: 16px;
    padding-right: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .content {
    padding-right: 120px;
  }
}
.content__english {
  font-family: "Mark Pro", sans-serif;
  font-size: 2rem;
  color: #C12D18;
  font-weight: bold;
}
@media screen and (max-width: 280px) {
  .content__english {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .content__english {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .content__english {
    font-size: 4rem;
  }
}
.content__english--mission {
  font-size: 1.5rem;
}
@media screen and (max-width: 280px) {
  .content__english--mission {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .content__english--mission {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .content__english--mission {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 280px) {
  .content__portuguese {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .content__portuguese {
    font-size: 1.5rem;
  }
}

.counter {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-areas: "text time" "text seconds";
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding-left: 16px;
}
@media screen and (max-width: 280px) {
  .counter {
    grid-template-columns: 1fr 60px;
  }
}
@media screen and (min-width: 1024px) {
  .counter {
    justify-self: flex-start;
    margin-left: 25%;
    padding: 0;
  }
}
.counter__text {
  grid-area: text;
  font-size: 0.75rem;
  text-align: right;
  align-self: center;
}
@media screen and (max-width: 280px) {
  .counter__text {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .counter__text {
    font-size: 0.875rem;
  }
}
.counter__time {
  grid-area: time;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 280px) {
  .counter__time {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .counter__time {
    font-size: 3rem;
  }
}
.counter__seconds {
  grid-area: seconds;
  font-size: 0.75rem;
  text-align: center;
}
@media screen and (max-width: 280px) {
  .counter__seconds {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .counter__seconds {
    font-size: 0.875rem;
  }
}

.modal {
  display: none;
}
.modal__title {
  font-size: 2.5rem;
}
.modal__text {
  font-size: 1.25rem;
  margin-top: 2rem;
}
.modal__buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 1rem;
}
.modal__button {
  width: 50%;
  padding: 1rem 0;
  font-family: "Mark Pro", sans-serif;
  font-size: 1rem;
  color: #222222;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}
.modal__button--continue {
  color: #FFFFFF;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
}
.modal__button--continue:hover {
  background: linear-gradient(90deg, #E62A05 0%, #85220F 100%);
}
.modal__button--logout {
  border: 2px solid #222222;
  background: transparent;
}
.modal__button--logout:hover {
  background: #222222;
  color: #FFFFFF;
}

.tingle-modal {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tingle-modal-box {
  width: auto;
  margin: 0 8px;
  border-radius: 8px;
}
.tingle-modal-box__content {
  padding: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .tingle-modal-box__content {
    padding: 3rem;
  }
}/*# sourceMappingURL=styles.css.map */